<?php

return [
    'rate_exchange_api' => [
        'base_url' => 'https://api.exchangeratesapi.io',
        'api_key' => 'f8e22e3e5cc230e1d7fe7a8c5582a8af',
    ],
    'bin_list' => [
        'base_url' => 'https://lookup.binlist.net',
    ],
    'memcached' => [
        'host' => 'memcached',
        'port' => 11211,
    ],
];
